﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <!-- <section class="bread-crumb-section">
        <img class="shape shape1" src="~/assets/images/bread/1.png" alt="images_not_found">
        <img class="shape shape2" src="~/assets/images/bread/2.png" alt="images_not_found">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="title text-center">About Us</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><span>About Us</span></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>-->


    <!-- bread crumb section end -->

    <!-- about us section start -->
    <section class="aboutus-section">
        <div class="container">
            <div class="row mb-n7">
                <div class="col-md-6 col-xl-4 mb-7">
                    <div class="about-thumb">
                        <img src="~/assets/images/about/5.png" alt="images_not_found" />
                    </div>
                </div>
                <div class="col-md-6 col-xl-5 mb-7">
                    <div class="about-cards">
                        <div class="about-card-list">
                            <span class="sub-title text-gradient">Since: 1987</span>
                            <h4 class="title">What are we all about..</h4>
                            <p>Tech Hut Solutions  is an IT solutions firm that builds and manages expert teams in technology. At Tech Hut Solutions, 
                                our purpose is to positively impact the lives of our employees, clients, consultants, and the 
                                communities in which we operate. Tech Hut Solutions  serves as a trusted partner to several small, medium and 
                                large companies including Fortune 500 firms enabling businesses to overcome critical 
                                business challenges.</p>
                            <p>We are technology experts who understand that a successful technology implementation depends on much more 
                                than simply finding the right.... 
                                <a class="read-more" href="#">Read More</a></p>
                        </div>
                       <div class="about-card-list">
                            <span class="sub-title text-gradient">Company History</span>
                            <h4 class="title">Mission And Vission</h4>
                            <p>Tech Hut Solutions  is an IT solutions firm that builds and manages expert teams in technology. 
                                At Tech Hut Solutions,.... <a class="read-more" href="#">Read More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-2 offset-xl-0 col-xl-3 mb-7">
                    <div class="about-banner">
                        @*<a href="#" class="logo">
                            <img src="~/assets/images/about/logo.png" alt="logo_not_found">
                        </a>*@
                        <h4 class="title">We Are
                            Different From
                            Others.</h4>
                        <p> +1 972-746-4633 </p>
                        <p>contactus@techhutsolutions.com</p>
                        <a href="/ContactUs/Index" class="btn btn-warning">Contact Us <i class="icofont-rounded-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about us section end -->

    <!-- about section start -->
     <section class="section-pt-80 section-pb-80">
     <div class="container">
            <div class="row mb-md-n7">
                <div class="col-12 col-md-12">
                    <div class="blog-grid-card">
                        
                        <div class="text-center">
                             <div class="blog-grid-content">
                            <h2 class="title">
                               
                                   Our Mission
                                
                            </h2>

                            <p class="mb-5">
                                Our Mission is simple, To power the world of IT Software Workforce by designing, building, 
                                attracting & igniting talent in our talent pool while helping and prospering with the communities in 
                                which we live in.
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        </section>
    <section class="section-pt-80 section-pb-80">
       
        <div class="container">

            
            <div class="row mb-n7">             
                <div class="col-12 col-md-6 col-lg-6 mb-7">
                    <div class="blog-grid-card">
                        <div class="blog-grid-content">
                           @* <ul>
                                <li class="date">
                                    <i class="icofont-ui-calendar"></i>May 21, 2021
                                </li>
                                <li>
                                    <span class="comments me-3">
                      <a href="javascript:void(0)">2 Comments</a>
                    </span>
                                    <span class="link-share">
                      <a href="javascript:void(0)">Share</a>
                    </span>
                                </li>
                            </ul>*@

                            <h5 class="title mb-4">
                                We Focus on What Really Matters, PEOPLE
                            </h5>

                            <p class="mb-5">
                              Through innovative workforce solutions we connect great talent with the right cultural fit for our clients. 
                              We are in the business of humans and we work hard to build strong relationships with all of them. 
                              Whether they are an associate, a client, a partner or a supplier, concentrating on the human element is
                              what makes us all successful.​
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 mb-7">
                    <div class="blog-grid-card">
                        
                        <div class="blog-grid-content">
                            @*<ul>
                                <li class="date">
                                    <i class="icofont-ui-calendar"></i>May 21, 2021
                                </li>
                                <li>
                                    <span class="comments me-3">
                      <a href="javascript:void(0)">2 Comments</a>
                    </span>
                                    <span class="link-share">
                      <a href="javascript:void(0)">Share</a>
                    </span>
                                </li>
                            </ul>*@

                            <h5 class="title mb-4">
                              
                                    Statement of Work (SOW) Management
                                
                            </h5>

                            <p class="mb-5">
                               Our SOW management solution is an extension of our clients’ Procurement and Sourcing functions. 
                               Our practitioner-led Services Procurement team and Entry Point Methodology deliver the visibility and
                               compliance our clients need to strategically manage SOW suppliers and project spend
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 mb-7">
                    <div class="blog-grid-card">
                        
                        <div class="blog-grid-content">
                           @* <ul>
                                <li class="date">
                                    <i class="icofont-ui-calendar"></i>May 21, 2021
                                </li>
                                <li>
                                    <span class="comments me-3">
                      <a href="javascript:void(0)">2 Comments</a>
                    </span>
                                    <span class="link-share">
                      <a href="javascript:void(0)">Share</a>
                    </span>
                                </li>
                            </ul>*@

                            <h5 class="title mb-4">
                                Direct Sourcing Solutions​
                            </h5>

                            <p class="mb-5">
                               Tech Hut Solutions brings together freelancers, independent contractors and self-sourced personnel, 
                               incorporating private talent pools that enable you to attract, engage and nurture ‘ready on demand”
                               workers.
                            </p>

                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 mb-7">
                    <div class="blog-grid-card">
                        
                        <div class="blog-grid-content">
                           @* <ul>
                                <li class="date">
                                    <i class="icofont-ui-calendar"></i>May 21, 2021
                                </li>
                                <li>
                                    <span class="comments me-3">
                      <a href="javascript:void(0)">2 Comments</a>
                    </span>
                                    <span class="link-share">
                      <a href="javascript:void(0)">Share</a>
                    </span>
                                </li>
                            </ul>*@

                            <h5 class="title mb-4">
                               
                                    Managed Services Provider (MSP)
                               
                            </h5>

                            <p class="mb-5">
                                Our MSP solutions combine operational scale and excellence with expert guidance to drive continuous value
                                across the talent spectrum, from agency resources to freelancers to project teams and services.​
                            </p>

                            
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 mb-7">
                    <div class="blog-grid-card">
                       
                        <div class="blog-grid-content">
                           @* <ul>
                                <li class="date">
                                    <i class="icofont-ui-calendar"></i>May 21, 2021
                                </li>
                                <li>
                                    <span class="comments me-3">
                      <a href="javascript:void(0)">2 Comments</a>
                    </span>
                                    <span class="link-share">
                      <a href="javascript:void(0)">Share</a>
                    </span>
                                </li>
                            </ul>*@

                            <h5 class="title mb-4">
                                
                                    Workforce Planning and Consulting​
                            </h5>

                            <p class="mb-5">
                                As your trusted partner, nextSource experience and knowledge are extended to you through talent advisory, 
                                procurement consultation and transformation planning services.
                            </p>

                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 mb-7">
                    <div class="blog-grid-card">
                        
                        <div class="blog-grid-content">
                            @*<ul>
                                <li class="date">
                                    <i class="icofont-ui-calendar"></i>May 21, 2021
                                </li>
                                <li>
                                    <span class="comments me-3">
                      <a href="javascript:void(0)">2 Comments</a>
                    </span>
                                    <span class="link-share">
                      <a href="javascript:void(0)">Share</a>
                    </span>
                                </li>
                            </ul>*@

                            <h5 class="title mb-4">
                               
                                   Payrolling / Employer of Record (EOR)
                                
                            </h5>

                            <p class="mb-5">
                                Our Payrolling (I.E. Employer of Record) solution provides the complete package; we support associates 
                                every step of the way from onboarding to reassignment and everything in between. Payrolling is an
                                integral component of the PetersonMillerDirect Sourcing solution.​
                            </p>

                            
                        </div>
                    </div>
                </div>
             </div>
          </div>
     </section>
    <!-- about section end -->


    <!-- team section start -->
   @* <section class="team-section position-relative">
        <img class="pattern" src="assets/images/team/pattern.png" alt="images-not_found" />
        <div class="container">
            <div class="row">
                <div class="col-12" data-aos="fade-up" data-aos-delay="100">
                    <div class="section-title process text-center pb-90">
                        <div class="icon">
                            <img src="assets/images/icon/team.png" alt="Icon_not_found" />
                        </div>
                        <h3 class="title">Amazing Team Members</h3>
                        <span class="hr-secodary"></span>
                    </div>
                </div>
            </div>

            <div class="row mb-n7">
                <div class="col-lg-3 col-sm-6 mb-7" data-aos="fade-up" data-aos-delay="300">
                    <div class="team-card">
                        <div class="thumb">
                            <img src="assets/images/team/1.png" alt="images_not_found" />
                            <img class="social-hover" src="assets/images/team/team-hover.png" alt="images_not_found" />
                            <ul class="team-social">
                                <li class="team-social-item">
                                    <a class="team-social-link" href="#"><i class="icofont-facebook"></i></a>
                                </li>
                                <li class="team-social-item">
                                    <a class="team-social-link" href="#"><i class="icofont-twitter"></i></a>
                                </li>
                                <li class="team-social-item">
                                    <a class="team-social-link" href="#"><i class="icofont-skype"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <h3 class="title">Willie Mckenzie</h3>
                            <p>Digital Strategist</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-7" data-aos="fade-up" data-aos-delay="600">
                    <div class="team-card">
                        <div class="thumb">
                            <img src="assets/images/team/2.png" alt="images_not_found" />
                            <img class="social-hover" src="assets/images/team/team-hover.png" alt="images_not_found" />
                            <ul class="team-social">
                                <li class="team-social-item">
                                    <a class="team-social-link" href="#"><i class="icofont-facebook"></i></a>
                                </li>
                                <li class="team-social-item">
                                    <a class="team-social-link" href="#"><i class="icofont-twitter"></i></a>
                                </li>
                                <li class="team-social-item">
                                    <a class="team-social-link" href="#"><i class="icofont-skype"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <h3 class="title">Rosie Greene</h3>
                            <p>Project Manager</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-7" data-aos="fade-up" data-aos-delay="900">
                    <div class="team-card">
                        <div class="thumb">
                            <img src="assets/images/team/3.png" alt="images_not_found" />
                            <img class="social-hover" src="assets/images/team/team-hover.png" alt="images_not_found" />
                            <ul class="team-social">
                                <li class="team-social-item">
                                    <a class="team-social-link" href="#"><i class="icofont-facebook"></i></a>
                                </li>
                                <li class="team-social-item">
                                    <a class="team-social-link" href="#"><i class="icofont-twitter"></i></a>
                                </li>
                                <li class="team-social-item">
                                    <a class="team-social-link" href="#"><i class="icofont-skype"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <h3 class="title">Stacey Evans</h3>
                            <p>Ui/ux designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-7" data-aos="fade-up" data-aos-delay="1200">
                    <div class="team-card">
                        <div class="thumb">
                            <img src="assets/images/team/4.png" alt="images_not_found" />
                            <img class="social-hover" src="assets/images/team/team-hover.png" alt="images_not_found" />
                            <ul class="team-social">
                                <li class="team-social-item">
                                    <a class="team-social-link" href="#"><i class="icofont-facebook"></i></a>
                                </li>
                                <li class="team-social-item">
                                    <a class="team-social-link" href="#"><i class="icofont-twitter"></i></a>
                                </li>
                                <li class="team-social-item">
                                    <a class="team-social-link" href="#"><i class="icofont-skype"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <h3 class="title">Marian Adams</h3>
                            <p>seo specialist</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
    <!-- team section end -->

    <!-- testimonial section start -->

    @*<section class="testimonial-section">
        <div class="container">
            <div class="row">
                <div class="col-12" data-aos="fade-up" data-aos-delay="100">
                    <div class="section-title primary text-center pb-100">
                        <div class="icon">
                            <img src="assets/images/icon/testimonial.png" alt="Icon_not_found" />
                        </div>
                        <h3 class="title">From Happy Customer</h3>
                        <span class="hr-secodary"></span>
                    </div>
                </div>
            </div>
            <div class="row position-relative">
                <div class="clients">
                    <img src="assets/images/testimonial/2.png" alt="images-not_found" class="client" />
                    <img src="assets/images/testimonial/3.png" alt="images-not_found" class="client" />
                    <img src="assets/images/testimonial/4.png" alt="images-not_found" class="client" />
                    <img src="assets/images/testimonial/5.png" alt="images-not_found" class="client" />
                    <img src="assets/images/testimonial/6.png" alt="images-not_found" class="client" />
                    <img src="assets/images/testimonial/7.png" alt="images-not_found" class="client" />
                </div>
                <div class="col-12 mx-auto">
                    <div class="testimonial-content position-relative">
                        <img class="shape" src="assets/images/testimonial/shape.png" alt="images-not_found" />
                        <div class="testimonial-carousel">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <!-- swiper-slide start -->
                                    <div class="swiper-slide" data-aos="fade-up" data-aos-delay="300">
                                        <div class="profile-wrap">
                                            <img class="testimonial-profile" src="assets/images/testimonial/1.png" alt="images-not_found" />
                                            <span class="quote">“</span>
                                        </div>

                                        <p>
                                            Lorem Ipsum is simply dummy text the printing and
                                            typesetting as been the industry's standard dummy text
                                            ever since the 1500s when unknown printer took a galley
                                            of type and scrambled it to make specimen book has
                                            survived not only five centuries
                                        </p>
                                        <h5 class="sub-title">Georgia Jones</h5>
                                        <span class="designation">Ui/Ux designer</span>
                                    </div>
                                    <!-- swiper-slide end -->
                                    <!-- swiper-slide start -->
                                    <div class="swiper-slide" data-aos="fade-up" data-aos-delay="300">
                                        <div class="profile-wrap">
                                            <img class="testimonial-profile" src="assets/images/testimonial/lg-2.png" alt="images-not_found" />
                                            <span class="quote">“</span>
                                        </div>

                                        <p>
                                            Lorem Ipsum is simply dummy text the printing and
                                            typesetting as been the industry's standard dummy text
                                            ever since the 1500s when unknown printer took a galley
                                            of type and scrambled it to make specimen book has
                                            survived not only five centuries
                                        </p>
                                        <h5 class="sub-title">Georgia Jones</h5>
                                        <span class="designation">Ui/Ux designer</span>
                                    </div>
                                    <!-- swiper-slide end -->
                                    <!-- swiper-slide start -->
                                    <div class="swiper-slide" data-aos="fade-up" data-aos-delay="300">
                                        <div class="profile-wrap">
                                            <img class="testimonial-profile" src="assets/images/testimonial/lg-3.png" alt="images-not_found" />
                                            <span class="quote">“</span>
                                        </div>

                                        <p>
                                            Lorem Ipsum is simply dummy text the printing and
                                            typesetting as been the industry's standard dummy text
                                            ever since the 1500s when unknown printer took a galley
                                            of type and scrambled it to make specimen book has
                                            survived not only five centuries
                                        </p>
                                        <h5 class="sub-title">Georgia Jones</h5>
                                        <span class="designation">Ui/Ux designer</span>
                                    </div>
                                    <!-- swiper-slide end -->
                                    <!-- swiper-slide start -->
                                    <div class="swiper-slide" data-aos="fade-up" data-aos-delay="300">
                                        <div class="profile-wrap">
                                            <img class="testimonial-profile" src="assets/images/testimonial/lg-4.png" alt="images-not_found" />
                                            <span class="quote">“</span>
                                        </div>

                                        <p>
                                            Lorem Ipsum is simply dummy text the printing and
                                            typesetting as been the industry's standard dummy text
                                            ever since the 1500s when unknown printer took a galley
                                            of type and scrambled it to make specimen book has
                                            survived not only five centuries
                                        </p>
                                        <h5 class="sub-title">Georgia Jones</h5>
                                        <span class="designation">Ui/Ux designer</span>
                                    </div>
                                    <!-- swiper-slide end -->
                                    <!-- swiper-slide start -->
                                    <div class="swiper-slide" data-aos="fade-up" data-aos-delay="300">
                                        <div class="profile-wrap">
                                            <img class="testimonial-profile" src="assets/images/testimonial/lg-5.png" alt="images-not_found" />
                                            <span class="quote">“</span>
                                        </div>

                                        <p>
                                            Lorem Ipsum is simply dummy text the printing and
                                            typesetting as been the industry's standard dummy text
                                            ever since the 1500s when unknown printer took a galley
                                            of type and scrambled it to make specimen book has
                                            survived not only five centuries
                                        </p>
                                        <h5 class="sub-title">Georgia Jones</h5>
                                        <span class="designation">Ui/Ux designer</span>
                                    </div>
                                    <!-- swiper-slide end -->
                                    <!-- swiper-slide start -->
                                    <div class="swiper-slide" data-aos="fade-up" data-aos-delay="300">
                                        <div class="profile-wrap">
                                            <img class="testimonial-profile" src="assets/images/testimonial/lg-6.png" alt="images-not_found" />
                                            <span class="quote">“</span>
                                        </div>

                                        <p>
                                            Lorem Ipsum is simply dummy text the printing and
                                            typesetting as been the industry's standard dummy text
                                            ever since the 1500s when unknown printer took a galley
                                            of type and scrambled it to make specimen book has
                                            survived not only five centuries
                                        </p>
                                        <h5 class="sub-title">Georgia Jones</h5>
                                        <span class="designation">Ui/Ux designer</span>
                                    </div>
                                    <!-- swiper-slide end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
    <!-- testimonial section end -->