﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

     <section class="contact-section-page section-pt-80 section-pb-80">
        <div class="container">
            <div class="row g-0">
                <div class="col-12">
                    <div class="contact-form-card">
                        <div class="row mb-n7">
                            <div class="col-lg-6 mb-7">
                              <img src="/assets/images/hero/3.png" />
                                
                            </div>
                            <div class="col-lg-6 mb-7">
                                <div class="section-title">
                                    <h3 class="title">Employee Login</h3>
                                   
                                </div>

                                <div class="login-form pt-xl-8">
                                    <form class="row gx-4" id="empForm">
                                        <div class="col-12 mb-2">
                                            <input class="form-control" required placeholder="Enter Username Or Email Address" type="text" name="Email or Username" />
                                        </div>
                                        <div class="col-12 mb-4">
                                            <input class="form-control" required placeholder="Enter Password" type="password" name="Password" />
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" id="empForm" class="btn btn-primary">
                                                Login
                                            </button>
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section class="contact-section-page section-pt-80 section-pb-80">
        <div class="container">
            <div class="row g-0">
                <div class="col-12">
                    <div class="contact-form-card">
                        <div class="row mb-n7">
                            <div class="col-lg-6 mb-7">
                              <img src="/assets/images/hero/2.png" />
                                
                            </div>
                            <div class="col-lg-6 mb-7">
                                <div class="section-title">
                                    <h3 class="title mb-100">Supplier Login</h3>
                                   
                                </div>

                                <div class="login-form pt-xl-8">
                              
                                    <form class="row gx-4" id="empForm">
                                        <div class="col-12 mb-2">
                                            <input class="form-control" required placeholder="Enter Username Or Email Address" type="text" name="Email or Username" />
                                        </div>
                                        <div class="col-12 mb-4">
                                            <input class="form-control" required placeholder="Enter Password" type="password" name="Password" />
                                        </div>
                                         <p><span class="forminator-checkbox-box"></span>
                                        <div class="col-12 ">
                                            <button type="submit" class="btn btn-primary mt-50">
                                                Login
                                            </button>
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


@section Scripts{
    
    <script type="text/javascript">
       
        $("#empForm").submit(function(){
            alert("Thanks for login");
        })
    </script>
}