﻿@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
@*<div class="row">
    <div class="col-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>
*@

<div class="login-box">
 
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
@*      <p class="login-box-msg">Login to Admin Panel</p>*@

      <form id="account" method="post">
           <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="input-group mb-3">
          <input type="email"  asp-for="Input.Email" autocomplete="username" aria-required="true"   class="form-control" placeholder="Email or User Name">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
     
            <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
         
       </form>
          <!-- /.col -->
        </div>
   

    
      <!-- /.social-auth-links -->

     
    </div>
    <!-- /.login-card-body -->
  </div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
