﻿@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="login-box">
 
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
@*      <p class="login-box-msg">Login to Admin Panel</p>*@

      <form id="account" method="post">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
        <div class="input-group mb-3">
          <input type="email"  asp-for="Input.Email" autocomplete="username" aria-required="true"   class="form-control" placeholder="Email or User Name">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
           <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

          <div class="input-group mb-3">
          <input type="password"  asp-for="Input.Password" autocomplete="new-password" aria-required="true"   class="form-control" placeholder="New Password">
          <div class="input-group-append">
           <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
           <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
         <div class="input-group mb-3">
          <input type="password"  asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true"   class="form-control" placeholder="Confirm Password">
          <div class="input-group-append">
           <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
                     <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

        </div>
     
            <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
         
       </form>
          <!-- /.col -->
        </div>
   

    
      <!-- /.social-auth-links -->

     
    </div>
    <!-- /.login-card-body -->
  </div>
@*<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </form>
    </div>
</div>
*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
