﻿@using static TechHut.Models.Enums.Enums

@model TechHut.Models.ViewModels.VmJobs
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" action="/Admin/Jobs/Create"  enctype="multipart/form-data">
     <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Edit Jobs</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
          <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Name">Name</label><span class="text-danger" style="font-size:20px;">*</span>
                        <input asp-for="Name" class="form-control" placeholder="Enter Name" />
                         <span asp-validation-for="Name" id="errMsgName" class="text-danger"></span>
                    </div>
                   <div class="form-group">
                    <label asp-for="Description">Description</label><span class="text-danger" style="font-size:20px;">*</span>
                    <textarea asp-for="Description" class="form-control" placeholder="Enter Description" ></textarea>
                     <span asp-validation-for="Description" id="errMsgDescription" class="text-danger"></span>
                  </div>
                    <div class="form-group">
                        <label asp-for="JobType">Job Type</label><span class="text-danger" style="font-size:20px;">*</span>
                          <input asp-for="JobType" class="form-control" placeholder="Enter Job Type" />
                         <span asp-validation-for="JobType" id="errMsgJobType" class="text-danger"></span>
                    </div>
                   <div class="form-group">
                    <label asp-for="ExperienceLevel">Experience Level</label><span class="text-danger" style="font-size:20px;">*</span>
                     <input asp-for="ExperienceLevel" class="form-control" placeholder="Enter Experience Level" />
                     <span asp-validation-for="ExperienceLevel" id="errMsgExperienceLevel" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                    <label asp-for="Role">Role</label><span class="text-danger" style="font-size:20px;">*</span>
                    <input asp-for="Role" class="form-control" placeholder="Role" />
                     <span asp-validation-for="Role" id="errMsgRole" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                    <label asp-for="Location">Location</label>
                    <textarea asp-for="Location" class="form-control" placeholder="Enter Location"> </textarea>
                  </div>
                  <div class="form-group">
                    <label asp-for="Responsibilities">Responsibilities</label><span class="text-danger" style="font-size:20px;">*</span>
                     <textarea asp-for="Responsibilities" class="form-control" placeholder="Enter Responsibilities"> </textarea>
                       <span asp-validation-for="Responsibilities" id="errMsgResponsibilities" class="text-danger"></span>
                  </div>
                   <div class="form-group">
                    <label asp-for="ExperienceRequirement">Experience Requirement</label>
                    <textarea asp-for="ExperienceRequirement" class="form-control" placeholder="Enter ExperienceRequirement" > </textarea>
                  </div>
                  <div class="form-group">
                    <label asp-for=" EqualOpportunityEmployer"> Equal Opportunity Employer</label>
                    <textarea asp-for=" EqualOpportunityEmployer" class="form-control" placeholder="Enter  EqualOpportunityEmployer" > </textarea>
                  </div>
                    <div class="form-group">
                        <div class="form-check">
                              @Html.CheckBoxFor(m => m.IsFeatured, new {@class="form-check-input"})
                          <label class="form-check-label" for="IsFeatured">
                            IsFeatured?
                          </label>
                        </div>
                     </div>
                       <div class="row">
                        <div class="col-12">
                     
                          <input type="submit" onclick="return ValidateInput()" value="Add" class="btn btn-success float-right">
                        </div>
                </div>
            </div>
</div>
            <!-- /.card-body -->
        
</form>


@section Scripts{
    
    <script type="text/javascript">
       
        function ValidateInput(){
            var valid = true;
            var errMsgName = $("#errMsgName");
            var errMsgDescription = $("#errMsgDescription");
            var errMsgJobType = $("#errMsgJobType");
            var errMsgExperienceLevel = $("#errMsgExperienceLevel");
            var errMsgRole = $("#errMsgRole");
            var errMsgResponsibilities = $("#errMsgResponsibilities");
            errMsgName.hide();
            errMsgDescription.hide();
            errMsgJobType.hide();
            errMsgExperienceLevel.hide();
            errMsgRole.hide();
            errMsgResponsibilities.hide();

            var InputName = $("#Name").val();
            var InputDescription = $("#Description").val();
            var InputJobType = $("#JobType").val();
            var InputExperienceLevel = $("#ExperienceLevel").val();
            var InputRole = $("#Role").val();
            var InputResponsibilities = $("#Responsibilities").val();

            if(InputName == ""){
                errMsgName.html("Name is required!");
                errMsgName.show();
                valid = false;
            }
             if(InputDescription == ""){
                 errMsgDescription.html("Description is required!");
                errMsgDescription.show();
                  valid = false;
            }
            if(InputJobType == ""){
                 errMsgJobType.html("Job Type is required!");
                errMsgJobType.show();
                  valid = false;
            }
             if(InputExperienceLevel == ""){
                 errMsgExperienceLevel.html("ExperienceLevel is required!");
                errMsgExperienceLevel.show();
                  valid = false;
            } if(InputRole == ""){
                 errMsgRole.html("Role is required!");
                errMsgRole.show();
                  valid = false;
            } if(InputResponsibilities == ""){
                 errMsgResponsibilities.html("Responsibilities is required!");
                errMsgResponsibilities.show();
                  valid = false;
            }
            
             
            return valid;
        }
    </script>
}