﻿@model IEnumerable<Jobs>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    tr:hover {
    
    color: #fc7418;
}
</style>
<section>
    <div class="container">
        <div class ="row mt-10">
             <h2 class="text-center title text-gradient mb-10">Current Openings</h2>
             <div class="col-sm-6">
                <div class="">
                        <h3 class="title text-center">Featured Jobs</h3>
                        
                    @foreach(var job in Model)
                    {
                        if (job.IsFeatured)
                        {
                             <a href="/Careers/JobDetails/@job.Id">
                            <div class="mb-3" style="border: 3px solid;">
                                <div class="row d-flex">
                                    <div class="col-sm-6 d-flex mt-4">
                                          <img src="~/Images/icon.png" style="width: 20%;max-height: 48px;" alt="images_not_found" />
                                          <h6 class="" style=" margin-left: 20px;margin-top: 11px;">@job.Name</h6>
                                    </div>
                                    <div class="col-sm-6">
                                         <div class="flex-one text-right" style="text-align: right;margin-right: 24px;">
                                        
                                        <span>@job.Location</span>
                                        <br />
                                        <span>
                                         Tech Hut Solution
                                        </span>
                                            <br />
                                        <span>@job.JobType</span>
                                </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        }

                    }
                  
                           
                       
                    </div>
                   
                </div>
                 <div class="col-sm-6">
                     
                    <img src="~/assets/images/blog-grid/5.png" style="width:100%" alt="images_not_found">
              
                 </div>
        </div>
    </div>
    
</section>



 <section class="section-pt-150 section-pb-150">
        <div class="container">
            <div class="row mb-n7">
                <h2 class="text-center mb-10"> <span class="text-gradient">Recent Jobs</span></h2>
                <table class="table table-white">


  <thead>
   
  </thead>
  <tbody>
                    @foreach(var job in Model)
                    {
                       
                              <tr style="cursor:pointer; margin-bottom:5px" onclick="JobDetails(@job.Id)">
                                  <th scope="row" style="display:flex;">
                                      <div class="">
                                        <img src="~/Images/icon.png" style="width: 90%;max-height: 48px;" alt="images_not_found" />
                                    
                                      </div>
                                      <div>
                                          @job.Name 
                                          <br>
                                         Peterson Miller

                                   
                                      </div>
                                 
                                  </th>
                                  <td>@job.Location</td>
                                  <td> @job.JobType</td>
                             </tr>
                      
                    }

   
  </tbody>
</table>

              @*  <div class="col-12  mb-7">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#"><i class="icofont-rounded-double-left"></i></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="icofont-rounded-double-right"></i></a></li>
                        </ul>
                    </nav>
                </div>*@
                </div>
                </div>
                </section>

@section Scripts{
              <script type="text/javascript">

                  function JobDetails(id){
                      debugger;
                        window.location.href = "/Careers/JobDetails/" + id;
                  }
              </script>  
}