﻿@model  TechHut.Models.ViewModels.VmJobDetails
@{
    ViewData["Title"] = "JobDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    ul.meta {
    margin-left: 18px;
    float: none;
    width: auto;
    padding: 0;
    text-align: left;
}

  ul.meta li {
      float: none;
    display: inline;
    padding: 0;
    margin: 0 0.5em 0 0;
    font-weight: normal;
  }
  
  ul.meta li:hover {
   background-color: white;
  }
   ul.meta li::after {
   padding: 0 0 0 0.5em;
    content: "‣";
   }
   .tag-item{
       cursor:pointer;
           padding: 13px 10px;

   }
   .tag-item:hover{
        background-color: white;
   }
</style>
<section class="section-pt-150 section-pb-150">
        <div class="container">
            <div class="row mb-n7">
                <div class="col-lg-8 mb-7">
                    <div class="row mb-n7">
                        <section>
                            <h1 class="title mb-10">@Model.Jobs.Name</h1>
                            <div class="job-infos d-flex">
                                <div class="job-type mr-2" style="margin-right:5px">
                                    <h4>@Model.Jobs.JobType</h4>
                                </div>
                                <div class="location ml-2" style="margin-left:5px">
                                    <h4>@Model.Jobs.Location</h4>
                                </div>
                            </div>

                            <h3 class="sub-title mb-6">Job Description</h3>
                            <p>@Model.Jobs.Description</p>
                           
                            <ul>
                                <li><strong>Job Type: </strong> @Model.Jobs.JobType</li>
                                <li><strong>Experience Level: </strong> @Model.Jobs.ExperienceLevel</li>
                                <li><strong>Location: </strong> @Model.Jobs.Location</li>
                                <li><strong>Role: </strong> @Model.Jobs.Role</li>
                                <li><strong>Responsibilities: </strong>
                                    <p>
                                        @Model.Jobs.Responsibilities
                                    </p>
                                 <li><h3 class="sub-title mt-5 mb-4">Minimum education/experience requirement</h3>
                                     <p>@Model.Jobs.ExperienceRequirement</p>
                                        
                                 </li>
                                  <li class="mb-5"><h3 class="sub-title mt-5 mb-4">Equal Opportunity Employer</h3>
                                     <p>@Model.Jobs.EqualOpportunityEmployer</p>
                                 </li>
                            </ul>
                            <button class="btn btn-primary" onclick="PopUpEmail()">Apply for job</button>
                        </section>
                        @*<div class="col-12 col-md-6 mb-7">
                            <div class="blog-grid-card">
                                <a href="blog-details.html" class="blog-grid-thumb">
                                    <img src="assets/images/blog-grid/1.png" alt="images_not_found">
                                </a>
                                <div class="blog-grid-content">
                                    <ul>
                                        <li class="date">
                                            <i class="icofont-ui-calendar"></i>May 21, 2021
                                        </li>
                                        <li>
                                            <span class="comments me-3">
                          <a href="javascript:void(0)">2 Comments</a>
                        </span>
                                            <span class="link-share">
                          <a href="javascript:void(0)">Share</a>
                        </span>
                                        </li>
                                    </ul>

                                    <h5 class="title mb-4">
                                        <a href="blog-detail.html">Guide to Improving Your Google Rankings.</a>
                                    </h5>

                                    <p class="mb-5">
                                        Lorem ipsum dolor sit amet, consectet adipi elit, sed do
                                        eius tempor incididunt ut labore gthydolore magna aliqua.
                                    </p>

                                    <a href="blog-details.html" class="btn btn-warning">read more</a>
                                </div>
                            </div>
                        </div>*@
                       @* <div class="col-12 col-md-6 mb-7">
                            <div class="blog-grid-card"> 
                                <a href="blog-details.html" class="blog-grid-thumb">
                                    <img src="assets/images/blog-grid/4.png" alt="images_not_found">
                                </a>
                                <div class="blog-grid-content">
                                    <ul>
                                        <li class="date">
                                            <i class="icofont-ui-calendar"></i>May 21, 2021
                                        </li>
                                        <li>
                                            <span class="comments me-3">
                          <a href="javascript:void(0)">2 Comments</a>
                        </span>
                                            <span class="link-share">
                          <a href="javascript:void(0)">Share</a>
                        </span>
                                        </li>
                                    </ul>

                                    <h5 class="title mb-4">
                                        <a href="blog-detail.html">
                                            What's the Current Job Market for Seo Professionals
                                            Like?
                                        </a>
                                    </h5>

                                    <p class="mb-5">
                                        Lorem ipsum dolor sit amet, consectet adipi elit, sed do
                                        eius tempor incididunt ut labore gthydolore magna aliqua.
                                    </p>

                                    <a href="blog-details.html" class="btn btn-warning">read more
                                    </a>
                                </div>
                            </div>
                        </div>*@
                       @* <div class="col-12 col-md-6 mb-7">
                            <div class="blog-grid-card">
                                <a href="blog-details.html" class="blog-grid-thumb">
                                    <img src="assets/images/blog-grid/3.png" alt="images_not_found">
                                </a>
                                <div class="blog-grid-content">
                                    <ul>
                                        <li class="date">
                                            <i class="icofont-ui-calendar"></i>May 21, 2021
                                        </li>
                                        <li>
                                            <span class="comments me-3">
                          <a href="javascript:void(0)">2 Comments</a>
                        </span>
                                            <span class="link-share">
                          <a href="javascript:void(0)">Share</a>
                        </span>
                                        </li>
                                    </ul>

                                    <h5 class="title mb-4">
                                        <a href="blog-detail.html">Addicted to Seo? Us Too. 6 Reasons We Just Can't
                                            Stop.</a>
                                    </h5>

                                    <p class="mb-5">
                                        Lorem ipsum dolor sit amet, consectet adipi elit, sed do
                                        eius tempor incididunt ut labore gthydolore magna aliqua.
                                    </p>

                                    <a href="blog-details.html" class="btn btn-warning">read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-7">
                            <div class="blog-grid-card">
                                <a href="blog-details.html" class="blog-grid-thumb">
                                    <img src="assets/images/blog-grid/2.png" alt="images_not_found">
                                </a>
                                <div class="blog-grid-content">
                                    <ul>
                                        <li class="date">
                                            <i class="icofont-ui-calendar"></i>May 21, 2021
                                        </li>
                                        <li>
                                            <span class="comments me-3">
                          <a href="javascript:void(0)">2 Comments</a>
                        </span>
                                            <span class="link-share">
                          <a href="javascript:void(0)">Share</a>
                        </span>
                                        </li>
                                    </ul>

                                    <h5 class="title mb-4">
                                        <a href="blog-detail.html">
                                            Why You Should Spend More Time Thinking About Seo.
                                        </a>
                                    </h5>

                                    <p class="mb-5">
                                        Lorem ipsum dolor sit amet, consectet adipi elit, sed do
                                        eius tempor incididunt ut labore gthydolore magna aliqua.
                                    </p>

                                    <a href="blog-details.html" class="btn btn-warning">read more
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-7">
                            <div class="blog-grid-card">
                                <a href="blog-details.html" class="blog-grid-thumb">
                                    <img src="assets/images/blog-grid/5.png" alt="images_not_found">
                                </a>
                                <div class="blog-grid-content">
                                    <ul>
                                        <li class="date">
                                            <i class="icofont-ui-calendar"></i>May 21, 2021
                                        </li>
                                        <li>
                                            <span class="comments me-3">
                          <a href="javascript:void(0)">2 Comments</a>
                        </span>
                                            <span class="link-share">
                          <a href="javascript:void(0)">Share</a>
                        </span>
                                        </li>
                                    </ul>

                                    <h5 class="title mb-4">
                                        <a href="blog-detail.html">
                                            Why is SEO important for marketing?</a>
                                    </h5>

                                    <p class="mb-5">
                                        Lorem ipsum dolor sit amet, consectet adipi elit, sed do
                                        eius tempor incididunt ut labore gthydolore magna aliqua.
                                    </p>

                                    <a href="blog-details.html" class="btn btn-warning">read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-7">
                            <div class="blog-grid-card">
                                <a href="blog-details.html" class="blog-grid-thumb">
                                    <img src="assets/images/blog-grid/6.png" alt="images_not_found">
                                </a>
                                <div class="blog-grid-content">
                                    <ul>
                                        <li class="date">
                                            <i class="icofont-ui-calendar"></i>May 21, 2021
                                        </li>
                                        <li>
                                            <span class="comments me-3">
                          <a href="javascript:void(0)">2 Comments</a>
                        </span>
                                            <span class="link-share">
                          <a href="javascript:void(0)">Share</a>
                        </span>
                                        </li>
                                    </ul>

                                    <h5 class="title mb-4">
                                        <a href="blog-detail.html">
                                            How can I start SEO Marketing SEO Consultancy?
                                        </a>
                                    </h5>

                                    <p class="mb-5">
                                        Lorem ipsum dolor sit amet, consectet adipi elit, sed do
                                        eius tempor incididunt ut labore gthydolore magna aliqua.
                                    </p>

                                    <a href="blog-details.html" class="btn btn-warning">read more
                                    </a>
                                </div>
                            </div>
                        </div>*@
                        @*<div class="col-12 mb-7">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#"><i class="icofont-rounded-double-left"></i></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#"><i class="icofont-rounded-double-right"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>*@
                    </div>
                </div>

                <div class="col-lg-4 mb-7">
                    <aside class="sidebar">
                      
                       
                        <!-- search-card end -->

                        <!-- post card start-->
                        <div class="sidebar-widget post-card">
                            <h3 class="title">Quick Links</h3>
                            <ul class="list-group">
                                <li class="
                      list-group-item
                      d-flex
                      justify-content-between
                      align-items-center
                    ">
                                    <a href="/Home/Index"><i class="icofont-rounded-double-right"></i>
                                        Home</a>
                                    
                                </li>
                                <li class="
                      list-group-item
                      d-flex
                      justify-content-between
                      align-items-center
                    ">
                                    <a href="/AboutUs/Index">
                                        <i class="icofont-rounded-double-right"></i>About Us
                                        </a>
                                   
                                </li>

                                <li class="
                      list-group-item
                      d-flex
                      justify-content-between
                      align-items-center
                    ">
                                    <a href="/Industries/Index">
                                        <i class="icofont-rounded-double-right"></i>Industries</a>
                                    
                                </li>

                                <li class="
                      list-group-item
                      d-flex
                      justify-content-between
                      align-items-center
                    ">
                                    <a href="/Services/Index"><i class="icofont-rounded-double-right"></i>Services</a>
                                    
                                </li>
                                <li class="
                      list-group-item
                      d-flex
                      justify-content-between
                      align-items-center
                    ">
                                    <a href="/Careers/Index"><i class="icofont-rounded-double-right"></i> Careers</a>
                                    
                                </li>
                                 <li class="
                      list-group-item
                      d-flex
                      justify-content-between
                      align-items-center
                    ">
                                    <a href="/MyTechHut/Index"><i class="icofont-rounded-double-right"></i>My Tech Hut</a>
                                    
                                </li>
                                 <li class="
                      list-group-item
                      d-flex
                      justify-content-between
                      align-items-center
                    ">
                                    <a href="/ContactUs/Index"><i class="icofont-rounded-double-right"></i>Contact Us</a>
                                    
                                </li>
                            </ul>
                        </div>
                      
                        <div class="sidebar-widget tag-card">
                            <h3 class="title">Recent Jobs</h3>
                            <ul>

                            @foreach(var job in Model.jobList)
                            {
                                 <a href="">
                                    <li class="tag-item">
                                     <div class="d-flex">
                                    <div class="recent-logo mt-4">
                                          <img src="~/Images/icon.png" style="" alt="images_not_found" />
                                    </div>
                                    <div class="content">
                                         <div class="job-name">
                                              <h6 class="" style=" margin-left: 20px;margin-top: 11px;">@job.Name</h6>
                                         </div>
                                         <ul class="meta">
				                                <li class="location">@job.Location</li>
				                                <li class="company">Peterson Miller</li>
												<li class="job-type temporary">@job.JobType</li>
										 </ul>
                                      
                                    </div>
                                </div>
                                </li>
                              </a>
                                <hr />
                            }

                            </ul>
                        </div>
                        <!-- tags card end -->
                    </aside>
                </div>
            </div>
        </div>
    </section>

@section Scripts{
        <script type="text/javascript">
            function PopUpEmail(){
                alert("To apply for this job email your details to contactus@techhutsolutions.com");
            }
        </script>
}