﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <section class="pb-100">
     <div class="container">
            <div class="row mb-md-n7">
                <div class="col-12 col-md-12">
                     
                        <div class="text-center mb-80 mt-80">
                             <div class="blog-grid-content">
                            <h2 class="title">
                               Our Industries of Expertise
                            </h2>
                            </div>
                        </div>
                </div>
            </div>
            
        </div>
  </section>
    <section class="section-pt-50 section-pb-40">
       
        <div class="container">

            
            <div class="row mb-n7">             
                <div class="col-12 col-md-6 col-lg-6 mb-7">
                    <div class="blog-grid-card">
                        <div class="blog-grid-content">
                           
                            <h5 class="title mb-4">
                                Banking & Finance
                            </h5>

                            <p class="mb-5">
                             Banking industry is in healthier placer than it was before the financial crisis of 2008. With global assets
                             climbing, the industry requires excellence in IT Software.​
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 mb-7">
                    <div class="blog-grid-card">
                        
                        <div class="blog-grid-content">
                            
                            <h5 class="title mb-4">
                              Insurance
                            </h5>

                            <p class="mb-5">
                              Insurance industry heavily relies on digital technology to develop products, assess claims and-most
                              importantly-provide customers with satisfying experience.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 mb-7">
                    <div class="blog-grid-card">
                        
                        <div class="blog-grid-content">
                           
                            <h5 class="title mb-4">
                               Manufacturing & Retail
                            </h5>

                            <p class="mb-5">
                               Automation and robotics are positioned to replace 50% of manufacturing jobs, while digital fulfillment, 
                               3D printing and self-driving vehicles will impact the physical supply chain.
                            </p>

                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 mb-7">
                    <div class="blog-grid-card">
                        
                        <div class="blog-grid-content">
                           
                            <h5 class="title mb-4">
                               Health Care
                            </h5>

                            <p class="mb-5">
                                The integration of information technology (IT) into primary care includes methods that are used
                                to manage information about people’s health and health care, The use of health IT improves quality of care.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 mb-10">
                    <div class="blog-grid-card">
                       
                        <div class="blog-grid-content">
                          
                            <h5 class="title mb-4">
                                Science
                            </h5>

                            <p class="mb-5">
                              The extensive use of information technology and data-driven approaches in the field of science has helped
                              the course of extensive research in the field.
                            </p> 
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 mb-10">
                    <div class="blog-grid-card">
                        
                        <div class="blog-grid-content">
                                                       <h5 class="title mb-4">
                               
                                  Energy & Utilities
                                
                            </h5>

                            <p class="mb-5">
                               Energy & Utilities have had little experience with information technology. Consolidation and globalization
                               have changed that, and information technology is needed more than ever now.
                            </p>

                            
                        </div>
                    </div>
                </div>
             </div>
          </div>
     </section>