﻿
@model TechHut.Models.ViewModels.VmClientReview
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" action="/Admin/ClientReview/Create"  enctype="multipart/form-data">
   
    <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Add Client Review</h3>
              <div asp-validation-summary="All"></div>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label >Client Image (130x130)</label><span class="text-danger" style="font-size:20px;">*</span>
                <input type="file" id="imgUpload" asp-for="Image"  class="form-control" />
            
              <div class="form-group">
                <label asp-for="Name">Name</label> <span class="text-danger" style="font-size:20px;">*</span>
                <input asp-for="Name" class="form-control" placeholder="Enter Name" />
                <span asp-validation-for="Name" id="errMsgName" class="text-danger"></span>
              </div>
                </div> <div class="form-group">
                <label asp-for="Review">Review</label> <span class="text-danger" style="font-size:20px;">*</span>
                <textarea asp-for="Review" class="form-control" placeholder="Enter Review" ></textarea>
                <span asp-validation-for="Review" id="errMsgReview" class="text-danger"></span>
              </div>
              <div class="form-group">
                <label asp-for="Designation">Designation</label> <span class="text-danger" style="font-size:20px;">*</span>
                <input asp-for="Designation" class="form-control" placeholder="Enter Designation" />
                 <span asp-validation-for="Designation" id="errMsgDesignation" class="text-danger"></span>
              </div>
                  <div class="row">
                    <div class="col-12">
                    
                      <input type="submit" onclick="return ValidateInput()" value="Add" class="btn btn-success float-right">
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
       
          </div>
        
</form>

@section Scripts{
    
    <script type="text/javascript">
       
        function ValidateInput(){
            var valid = true;
            var errMsgName = $("#errMsgName");
            var errMsgReview = $("#errMsgReview");
            var errMsgDesignation = $("#errMsgDesignation");
            errMsgName.hide();
            errMsgReview.hide();
            errMsgDesignation.hide();

            var InputName = $("#Name").val();
            var InputReview = $("#Review").val();
            var InputDesignation = $("#Designation").val();

            if(InputName == ""){
                errMsgName.html("Name is required!");
                errMsgName.show();
                valid = false;
            }
             if(InputReview == ""){
                 errMsgReview.html("Review is required!");
                errMsgReview.show();
                  valid = false;
            }
            if(InputDesignation == ""){
                 errMsgDesignation.html("Designation is required!");
                errMsgDesignation.show();
                  valid = false;
            }
            if($("#imgUpload").val() == ""){
                Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'Please Upload an Image!',
               
                });
              
               valid = false;
            }
             
            return valid;
        }
    </script>
}