﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .list-group-item {
   
    padding: 0px 18px!important;

}
</style>
<section>
   
    <div class="section-title service-details text-center pb-100">
                        
                        <h3 class="title">Services</h3>
                        <span class="hr-secodary"></span>
                    </div>
        @*<div class="service-details text-center">
            <h1 class="title">
            Services
        </h1>
        </div>*@
       
        
     <section class="section-pt-80 section-pb-80" style="margin-bottom:40px">
     <div class="container">
            <div class="row mb-n7">
                <div class="col-12 mb-7">
                    <div class="service-details text-center">
                        <div class="service-details-list align-items-center" >
                            <h2 class="sub-title">Management Services</h2>
                            <p>
                                Our 4 Point Promise ensures that every client not only receives the best-in-class IT talent but
                                an experience and relationship worth bragging about.
                            </p>
                            
                                
                                <ul class="list-group">
                    <li class="list-group-item">Quality: We remove the risk of misrepresented qualifications ensuring each candidate truly has the right skills and attitude.</li>
                    <li  class="list-group-item">Speed: We work based on your deadline. Our 24-48 guaranteed response time ensures your project always stays on track.</li>
                      <li class="list-group-item">Process: We selectively screen each candidate for both culture-fit and technical skills catered to your custom needs.</li>
                       <li class="list-group-item">Agility: Our focus on the industry gives us exclusive access to the top IT professionals when and where you need them.</li>
                    </ul>
                            
                           
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
         <section class="section-pt-80 section-pb-80" style="margin-bottom:40px">
     <div class="container">
            <div class="row mb-n7">
                <div class="col-12 mb-7">
                    <div class="service-details" style="margin-top: 40px;margin-bottom: 40px;">
                        <div class="service-details-list">
                            <h3 class="sub-title text-center">IT Consulting Services</h3>
                            <p class="text-center">
                               Staying current with new technologies is critical to remaining relevant in today’s 
                               business landscape. Peterson Miller can provide your company the expertise it needs to make your digital transformation effective and efficient.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
         <section class="section-pt-80 section-pb-80" style="margin-bottom:40px">
     <div class="container">
            <div class="row mb-n7">
                <div class="col-12 mb-7">
                    <div class="service-details">
                        <div class="service-details-list">
                            <h3 class="sub-title text-center">IT Staffing</h3>
                            <p>
                              Businesses focused on growth need talent who can not only perform tasks in the current 
                              IT environment but can also innovate to maintain competitiveness & profitability.transformation effective and efficient.
                            </p>
                            <p>Peterson Miller ensures you’ll always have the right people, with the right skills, at the right price. 
                                Our consultants fully meet technical requirements & our recruiters are experts in their field— which allows them to 
                                ask the right questions to find out exactly what type of consultant you need to meet and exceed your business goals.</p>
                            <p>Peterson Miller also conducts rigorous, standardized and in-person skills assessments to ensure the talent 
                                we send to you has the requisite technical capabilities. In addition, we make sure our consultants 
                                possess the necessary soft skills to make them a strong fit into your corporate culture — a crucial but 
                                sometimes overlooked component in a successful consulting arrangement.</p>
                            <p>Peterson Miller Finds Top IT Talent In the Following Areas:
                                  <ul class="list-group">
                    <li class="list-group-item">Application Development</li>
                     <li class="list-group-item">Business Analysis</li>
                      <li class="list-group-item">Business & IT Consulting</li>
                       <li class="list-group-item">Business Intelligence/Big Data</li>
                        <li class="list-group-item">Cloud Computing</li>
                         <li class="list-group-item">Customer Relationship Management (CRM)</li>
                          <li class="list-group-item">Database Administration</li>
                           <li class="list-group-item">Deskside Support</li>
                            <li class="list-group-item">Help Desk Management</li>
                             <li class="list-group-item">Human Capital Management (HCM)</li>
                              <li class="list-group-item">Implementation, Rollouts and Upgrades</li>
                               <li class="list-group-item">Mergers & Acquisitions</li>
                               <li class="list-group-item">Project Management</li>
                               <li class="list-group-item">QA Testing</li>
                                 <li class="list-group-item">SAP Consulting</li>
                                   <li class="list-group-item">Security Administration</li>
                    </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
         <section class="section-pt-80 section-pb-80" style="margin-bottom:40px">
     <div class="container">
            <div class="row mb-n7">
                <div class="col-12 mb-7">
                    <div class="service-details">
                        <div class="service-details-list">
                            <h3 class="sub-title text-center">Direct Hire Search</h3>
                            <p>
                              Save Time Finding Your Next Great Hire. Find-and-hire-top-performing-employees-quickly
                              Find and Hire Top-Performing Employees Quickly. You already know how critical great staff are to your 
                              success, but finding them quickly can be a challenge. The most recent data indicates it takes 51 days to 
                              fill an IT position. When time is of the essence we’ll be that extra set of hands to help you move quickly. 
                              We give you a competitive edge in the battle for great talent, because we know how important it is to start 
                              with the right person before you investment time & money to train them.
                            </p>
                            <p>Direct Hire services allow you to focus on continuing to be productive while we source and filter the best
                                talent for you. They aren’t always looking for you, but they are often open to an invitation to learn 
                                more and we can help you find and attract them fast. Our firm has provided direct hire staffing services
                                to the Dallas-Fort Worth Metroplex and beyond.</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <section class="section-pt-80 section-pb-80" style="margin-bottom:40px">
     <div class="container">
            <div class="row mb-n7">
                <div class="col-12 mb-7">
                    <div class="service-details">
                        <div class="service-details-list">
                            <h3 class="sub-title text-center">Recruitment Manages Services</h3>
                            <p>
                             Find Great Talent Consistently. We Focus On Your Capabilities Because Your Plate Is Full.
                             You’re experts in what you do. So why spend your valuable time on anything other than the activities that
                             get you the greatest return?
                            </p>
                            <p>We’re experts in recruiting. Our Recruitment Managed Services allow you to focus on what you do best and 
                                get recruiting off your plate.</p>
                            <p>We work with you to develop a message that will resonate with the candidates you want to attract and then 
                                we find the talent pool you need and make sure they get your message. Give us a job description and we 
                                take it from there, attracting, filtering and curating a list of candidates for you to select from.</p>
                            <p>Get started with our team today. Our firm has successfully managed the recruiting process for companies 
                                around DFW, so they can get back to what they do best.</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <section class="section-pt-80 section-pb-80" style="margin-bottom:40px">
     <div class="container">
            <div class="row mb-n7">
                <div class="col-12 mb-7">
                    <div class="service-details">
                        <div class="service-details-list">
                            <h3 class="sub-title text-center">Temp to Hire</h3>
                            <p>
                             Eliminate the Guesswork of Hiring. Interviewing candidates is sometimes not enough, so you get a chance to 
                             see what happens when the rubber meets the road and there’s work to be done. When you hire temporary staff
                             we give you the option to hire them on to your team full-time if they fit your team’s needs for the long-term. Temp-to-hire gives you the opportunity to evaluate talent in your environment, get them productive even when budgets are in flux, and spread out our service fees over a 6 month period.
                            </p>
                            <p>If you have immediate tasks that need attention, but don’t have the time to go through the entire search
                                process with HR, we can find you someone to start within days, not months.</p>
                            <p>Get started hiring with our team today. Our firm has provided temporary and temp-to-hire staffing services 
                                across the Dallas-Fort Worth Metroplex and beyond.</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
         <section class="section-pt-80 section-pb-80" style="margin-bottom:40px">
     <div class="container">
            <div class="row mb-n7">
                <div class="col-12 mb-7">
                    <div class="service-details">
                        <div class="service-details-list">
                            <h3 class="sub-title text-center">Recruitment Strategy</h3>
                            <p>
                             Align Your Recruiting With Your Goals. You know where you want to go, now create a recruiting plan to help 
                             get you there. In this talent-starved market, teams who make recruiting a top priority will put themselves 
                             in a position to succeed.
                            </p>
                            <p>Technology continues to change and the availability of data on platforms like LinkedIn has drastically 
                                shifted altered the competitive landscape.</p>
                            <p>Our Recruitment Strategy team will work with your executive team to develop a strategy and a process that
                                supports your goals and leverages the best tactics for those goals to save you time as you grow. Give your
                                team the direction and tools they need to attract the best talent, because who you work with matters.</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>





         <section class="section-pt-80 section-pb-80" style="margin-bottom:40px">
     <div class="container">
            <div class="row mb-n7">
                <div class="col-12 mb-7">
                    <div class="service-details">
                        <div class="service-details-list">
                            <h2 class="sub-title text-center">Technology - Services</h2>
                            
                            <p class="text-center">We provides services in the field of technology to meet and/or exceed today’s day and age’s need of 
                                technologies. Following are some of our focus area in the field of Technology Services.</p>
                           
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>



        <section class="section-pt-80 section-pb-80" style="margin-bottom:40px">
     <div class="container">
            <div class="row mb-n7">
                <div class="col-6 mb-7">
                    <div class="service-details text-center">
                        <div class="service-details-list">
                            <h3 class="sub-title text-center">Cyber Security</h3>
                            <h5 class="sub-title-menu text-left">FOCUS AREAS:</h5>
                            
                            <ul class="list-group">
                    <li class="list-group-item">Governance, Risk and Compliancet</li>
                     <li class="list-group-item">Data Loss Prevention Cloud Security</li>
                      <li class="list-group-item">Network & Endpoint Security</li>
                       <li class="list-group-item">Cryptography and Public Key Infrastructure</li>
                        <li class="list-group-item">Security Monitoring & Incident Handling</li>
                         <li class="list-group-item">Threat Intelligence</li>
              
                    </ul>
                           
                        </div>
                    </div>
                </div>
                  <div class="col-6 mb-7">
                    <div class="service-details text-center">
                        <div class="service-details-list">
                            <h3 class="sub-title text-center">Data Science</h3>
                            @*<p>Helping Clients Build Intellegent Digital Solutions Through Advanced Analytics</p>*@
                            <h5 class="sub-title-menu text-left">FOCUS AREAS:</h5>
                            
                            <ul class="list-group">
                    <li class="list-group-item">Diagnostic</li>
                     <li class="list-group-item">Prescriptive</li>
                      <li class="list-group-item">Descriptive</li>
                       <li class="list-group-item">Classification and Predictive</li>
                        <li class="list-group-item">Deep Analytics</li>
                         <li class="list-group-item">Advanced Data Modeling</li>
              
                    </ul>
                           
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
          <section class="section-pt-80 section-pb-80">
  @*   <div class="container">
            <div class="row mb-n7">
                <div class="col-12 mb-7">
                    <div class="service-details">
                        <div class="service-details-list">
                            <h3 class="sub-title text-center">Data Science</h3>
                            <p>Helping Clients Build Intellegent Digital Solutions Through Advanced Analytics</p>
                            <h5 class="sub-title-menu text-left">FOCUS AREAS:</h5>
                            
                            <ul class="list-group">
                    <li class="list-group-item">Diagnostic</li>
                     <li class="list-group-item">Prescriptive</li>
                      <li class="list-group-item">Descriptive</li>
                       <li class="list-group-item">Classification and Predictive</li>
                        <li class="list-group-item">Deep Analytics</li>
                         <li class="list-group-item">Advanced Data Modeling</li>
              
                    </ul>
                           
                        </div>
                    </div>
                </div>
            </div>
            </div>*@
        </section>
         <section class="section-pt-80 section-pb-80" style="margin-bottom:40px">
     <div class="container">
            <div class="row mb-n7">
                <div class="col-12 mb-7">
                    <div class="service-details">
                        <div class="service-details-list">
                            <h3 class="sub-title text-center">Cloud & Devops</h3>
                            <div class="row align-items-center">
                                <div class="col-sm-6 text-center">
                                     <h5 class="sub-title-menu text-left">FOCUS AREAS:</h5>
                            
                            <ul class="list-group">
                    <li class="list-group-item">Assessment and Planning</li>
                     <li class="list-group-item">Pilot Framework</li>
                      <li class="list-group-item">Creation</li>
                       <li class="list-group-item">Process Implementation</li>
                        <li class="list-group-item">CI/CD Pipeline​</li>
                         <li class="list-group-item">Process Automation</li>
                         <li class="list-group-item">Security Integration</li>
              
                    </ul>
                                </div>
                                <div class="col-sm-6 text-center">
                                             
                    <h5 class="sub-title-menu">CLOUD PLATFORMS:</h5>
                            
                            <ul class="list-group">
                    <li class="list-group-item">Amazon Web Services (AWS)</li>
                     <li class="list-group-item">Microsoft Azure</li>
                      <li class="list-group-item">Google Cloud Platform (GCP)</li>
                        <li class="list-group-item">Openstack</li>
                             </ul>
                                </div>
                            </div>

                  
                           
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <section class="section-pt-80 section-pb-80">
     <div class="container">
            <div class="row mb-n7">
                <div class="col-12 mb-7">
                    <div class="service-details">
                        <div class="service-details-list">
                            <h3 class="sub-title text-center">Artificial Intelligence</h3>
                            <p>
                             Helping clients harness the power of artificial intelligence and machine learning to drive productivity and innovation
                             Temp-to-hire gives you the opportunity to evaluate talent in your environment, get them productive even when
                             budgets are in flux, and spread out our service fees over a 6 month period.
                            </p>
                            <p>Shape your workforce for the future with the unlimited scope of Artificial Intelligence (AI) and Machine 
                                Learning (ML). Maximize productivity, employee engagement, and client satisfaction by implementing 
                                predictive analysis, fraud detection, task automation, and enterprise search streamlining. Scale up for 
                                the AI revolution by striking the perfect balance between man and machine.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <section class="section-pt-80 section-pb-80" style="margin-bottom:40px">
     <div class="container">
            <div class="row mb-n7">
                <div class="col-12 mb-7">
                    <div class="service-details">
                        <div class="service-details-list">
                            <h3 class="sub-title text-center">Other IT Services</h3>
                            <h5 class="sub-title-menu text-center">OTHER AREAS:</h5>
                            
                            <ul class="list-group text-center">
                    <li class="list-group-item">Application Development</li>
                     <li class="list-group-item">ERP (SAP & Oracle)</li>
                      <li class="list-group-item">Architecture</li>
                       <li class="list-group-item">Business Analysis</li>
                        <li class="list-group-item">Mobile Expertise</li>
                         <li class="list-group-item">Project Management</li>
                         <li class="list-group-item">Quality Assurance</li>
                         <li class="list-group-item">User Experience</li>
                          <li class="list-group-item"> Web Development</li>
              
                    </ul>
                           
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
</section>
