﻿@model TechHut.Models.ViewModels.VmSendEmail
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <!-- bread crumb section end -->

    <!-- contact section start -->
    <section class="contact-section-page section-pt-150 section-pb-150">
        <div class="container">
            <div class="row g-0">
                <div class="col-12">
                    <div class="contact-form-card">
                        <div class="row mb-n7">
                            <div class="col-lg-6 mb-7">
                                <div class="section-title">
                                    <h3 class="title">Get In Touch.</h3>
                                    <span class="comment-hr mb-0"></span>
                                </div>
                                <!-- contact media -->
                                <div class="contact-media contact-media-list mt-xl-8">
                                    <div class="icon">
                                        <span class="icofont-ui-call"></span>
                                    </div>
                                    <div class="content">
                                        <span class="text">Local:</span>
                                        <a href="tel:0123456789" class="number" style="font-size:15px">972-746-4633</a>
                                    </div>
                                </div>
                                <!-- contact media end -->
                                <!-- contact media -->
                                <div class="contact-media contact-media-list mt-xl-8">
                                     <div class="icon">
                                        <span class="icofont-send-mail"></span>
                                    </div>
                                    <div class="content">
                                        <span class="text">Local:</span>
                                        <a href="mailto:contactus@techhutsolutions.com" class="number" style="font-size:15px">contactus@techhutsolutions.com</a>
                                    </div>
                                
                                </div>
                             
                            </div>
                            <div class="col-lg-6 mb-7">
                                <div class="section-title">
                                    <h3 class="title">Send Us A Message</h3>
                                    <span class="comment-hr mb-0"></span>
                                </div>

                                <div class="comment-form pt-xl-8">
                                    <form class="row gx-4" >
                                        <div class="col-12 col-sm-6">
                                            <input class="form-control" required placeholder="Enter Your Name" id="Name"  type="text" name="name" />
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <input class="form-control" required placeholder="Enter Your Email" id="Email" type="text" name="email" />
                                        </div>
                                       
                                        <div class="col-12">
                                            <textarea placeholder="Type your comment" required class="form-control textarea-control"  name="message" id="textarea" cols="30" rows="10"></textarea>
                                        </div>
                                        <div class="col-12">
                                            <button type="button" class="btn btn-warning" id="sendEmail">
                                                Send
                                                <i class="icofont-rounded-double-right"></i>
                                            </button>
                                        </div>
                                    </form>
                                    <p class="form-message"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 
@section Scripts{
    
    <script type="text/javascript">
       
        $("#sendEmail").click(function(){
             debugger;
            var model = {
                Name : $("#Name").val(),
                Email : $("#Email").val(),
                Message : $("#textarea").val()
            }
           $.post('/ContactUs/SendEmail', {model:model}, function(response){ 
               debugger;
              alert("success");
              $("#mypar").html(response.amount);
            });
        })
    </script>
}