﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    img.logo-image {
    width: 75%;
}
</style>

    <section class="hero-section">
        <!-- <img class="shape shape1" src="assets/images/hero/shape1.png" alt="img_not_found" />
        <img class="shape shape2" src="assets/images/hero/shape2.png" alt="img_not_found" />
        <img class="shape particle1" src="assets/images/hero/particle1.png" alt="img_not_found" />
        <img class="shape particle2" src="assets/images/hero/particle2.png" alt="img_not_found" /> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-xl-7">
                    <div class="hero-content">
                        <h6 class="title">Turning our Knowledge into the Solutions to your problems.</h6>
                        <p>
                            <span class="hr d-none d-xl-block"></span> Our Talents = Your Results
                        </p>
                        <p> Partnering with several small, medium and large <br> companies including Fortune 500 firms across <br> industries, experience the best in class, uniquely <br> customized and scalable workforce solutions.
                        </p>
                        <!-- <img class="particle3" src="assets/images/hero/particle3.png" alt="particle2" /> -->
                    </div>
                </div>
                <div class="col-lg-7 col-xl-6">
                    <div class="hero-img">
                        <img class="animate-one" src="~/assets/images/hero/1.png" alt="img_not_found" data-aos="zoom-in" data-aos-delay="100" />
                        <div class="position-absolute animate-two">
                            <img data-aos="fade-up" data-aos-delay="600" src="~/assets/images/hero/2.png" alt="img_not_found" />
                        </div>

                        <div class="position-absolute animate-three">
                            <img data-aos="fade-down" data-aos-delay="400" src="~/assets/images/hero/3.png" alt="img_not_found" />
                        </div>
                    </div>

                    <div class="hero-img-mobile">
                        <img src="~/assets/images/hero/mobile.png" alt="images-not_found" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- brand section start -->
    <div class=" section-pb-150" data-aos="fade-up" data-aos-delay="100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="service-card">
                        <img class="line" src="~/assets/images/service/line-three.png" alt="images_not_found">
                        <div class="service-icon">
                            <div class="roted-around primary">
                                <span></span>
                            </div>
                            <img src="~/assets/images/icon/connect.png" alt="">
                        </div>
                        <div class="service-content float-right">
                            <h4 class="title">Talent On-Demand</h4>
                            <p>
                                Achieve your business objectives with our wide-ranging, yet specialized spectrum of services across verticals and functions. Acquire, engage and retain the right talent on-demand – when, where and how you need it; contract, direct hire, RPO, or statement
                                of work..
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt-2">
                    <div class="service-card">
                        <img class="line" src="~/assets/images/service/line-two.png" alt="images_not_found">
                        <div class="service-icon">
                            <div class="roted-around warning">
                                <span></span>
                            </div>
                            <img src="~/assets/images/icon/analytics.png" alt="">
                        </div>
                        <div class="service-content">
                            <h4 class="title">Global Reach</h4>
                            <p>
                                The talent you are searching for can be right across the street or the globe. With our skillset and every growing global network, our team has the ability to source talent virtually anywhere.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt-2">
                    <div class="service-card">
                        <img class="line" src="~/assets/images/service/line-one.png" alt="images_not_found">
                        <div class="service-icon">
                            <div class="roted-around dagnger">
                                <span></span>
                            </div>
                            <img src="~/assets/images/icon/marketing.png" alt="">
                        </div>
                        <div class="service-content">
                            <h4 class="title">Cost & Complexity</h4>
                            <p>
                                A perfect combination of global talent, our scientific approach, proprietary technology tools and specific industry expertise delivers best in class quality with remarkable speed, and often reducing overall recruitment costs
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand section end -->
<<<<<<< HEAD
    <!-- brand section start -->
    <div class="section-pb-150" data-aos="fade-up" data-aos-delay="100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="brand-card brand-carousel">
                        <p class="text-center">
                            <span class="text-gradient">Clients Trusts Us</span>
                            <p class="text-center">Clients that trusts Peterson Miller with our innovative, comprehensive solutions. </p>
                        </p>

                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <!-- single slide start -->
                                <div class="swiper-slide">
                                     <a class="brand-before" href="#"><img class="logo-image" src="~/assets/images/brand-logo/kaiser.png" alt="images-not_found" /></a>
                                    <a class="brand-after" href="#"><img class="logo-image" src="~/assets/images/brand-logo/kaiser1.png" /></a>
                                  
                                </div>
                               
                                <!-- single slide end -->
                                <!-- single slide start -->
                                <div class="swiper-slide">
                                     <a class="brand-before" href="#"><img class="logo-image" src="~/assets/images/brand-logo/mercado.png" alt="images-not_found" /></a>
                                     <a class="brand-after" href="#"><img class="logo-image" src="~/assets/images/brand-logo/mercado1.png"/></a>
                                </div>
                                <!-- single slide end -->
                                  <!-- single slide start -->
                                <div class="swiper-slide">
                                    <a class="brand-before" href="#"><img class="logo-image" src="~/assets/images/brand-logo/change.png"  alt="images-not_found"  /></a>
                                    <a class="brand-after" href="#"><img class="logo-image" src="~/assets/images/brand-logo/change1.png"  alt="images-not_found"  /></a>
                                  
                                </div>
                                   <div class="swiper-slide">
                                    <a class="brand-before" href="#"><img class="logo-image" src="~/assets/images/brand-logo/grainger.png"  alt="images-not_found"  /></a>
                                    <a class="brand-after" href="#"><img class="logo-image" src="~/assets/images/brand-logo/grainger1.png"  alt="images-not_found"  /></a>
                                  
                                </div>
                                 <div class="swiper-slide">
                                    <a class="brand-before" href="#"><img class="logo-image" src="~/assets/images/brand-logo/graco.png"  alt="images-not_found"  /></a>
                                    <a class="brand-after" href="#"><img class="logo-image" src="~/assets/images/brand-logo/graco1.png"  alt="images-not_found"  /></a>
                                  
                                </div>
                                <div class="swiper-slide">
                                    <a class="brand-before" href="#"><img class="logo-image" src="~/assets/images/brand-logo/plymouth.png"  alt="images-not_found"  /></a>
                                    <a class="brand-after" href="#"><img class="logo-image" src="~/assets/images/brand-logo/plymouth1.png"  alt="images-not_found"  /></a>
                                  
                                </div>
                                <div class="swiper-slide">
                                    <a class="brand-before" href="#"><img class="logo-image" src="~/assets/images/brand-logo/statefarm.png"  alt="images-not_found"  /></a>
                                    <a class="brand-after" href="#"><img class="logo-image" src="~/assets/images/brand-logo/statefarm1.png"  alt="images-not_found"  /></a>
                                  
                                </div>
                               
                              @* 
                                 <!-- single slide start -->
                                <div class="swiper-slide">
                                     <a class="brand-before" href="#"><img class="logo-image" src="~/assets/images/brand-logo/graco.png" alt="images-not_found" /></a>
                                     <a class="brand-after" href="#"><img class="logo-image" src="~/assets/images/brand-logo/graco1.png" alt="images-not_found" /></a>
                                </div>
                                <!-- single slide end -->
                                <!-- single slide end -->
                                   <!-- single slide start -->
                                <div class="swiper-slide">
                                     <a class="brand-before" href="#"><img class="logo-image" src="~/assets/images/brand-logo/grainger.png" alt="images-not_found" /></a>
                                     <a class="brand-after" href="#"><img class="logo-image" src="~/assets/images/brand-logo/grainger1.png" alt="images-not_found" /></a>
                                </div>
                                <!-- single slide end -->
                                   <!-- single slide start -->
                                <div class="swiper-slide">
                                     <a class="brand-before" href="#"><img class="logo-image" src="~/assets/images/brand-logo/plymouth.png" alt="images-not_found" /></a>
                                     <a class="brand-after" href="#"><img class="logo-image" src="~/assets/images/brand-logo/plymouth1.png" alt="images-not_found" /></a>
                                </div>
                                <!-- single slide end -->
                                    <!-- single slide start -->
                                <div class="swiper-slide">
                                     <a class="brand-before" href="#"><img class="logo-image" src="~/assets/images/brand-logo/statefarm.png" alt="images-not_found" /></a>
                                     <a class="brand-after" href="#"><img class="logo-image" src="~/assets/images/brand-logo/statefarm1.png" alt="images-not_found" /></a>
                                </div>
                                <!-- single slide end -->
                                <!-- single slide start -->
                               <div class="swiper-slide">
                                     <a class="brand-before" href="#"><img class="logo-image" src="~/assets/images/brand-logo/usbank.png" alt="images-not_found" /></a>
                                     <a class="brand-after" href="#"><img class="logo-image" src="~/assets/images/brand-logo/usbank1.png" alt="images-not_found" /></a>
                                </div>*@
                                 
                                <!-- single slide end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
=======
      
>>>>>>> 58cbc0afaa3b33fa492c93ca23310f1493130108
    <section class="working-process-section">
        <div class="">        

            <div class="row working-process mb-n4">
                <!-- working-process-list start -->
                <div class="col-lg-3 col-sm-6 working-process-list mb-4" data-aos="fade-up" data-aos-delay="400">
                    <img class="arrow-shape" src="~/assets/images/working/arrow-shape1.png" alt="images_not_found" />
                    <div class="icon">
                        <img src="~/assets/images/working/1.png" alt="images_not_found" />
                    </div>
                    <h4 class="title">Clients</h4>
                </div>
                <!-- working-process-list end -->
                <!-- working-process-list start -->
                <div class="col-lg-3 col-sm-6 working-process-list mb-4" data-aos="fade-up" data-aos-delay="500">
                    <img class="arrow-shape" src="~/assets/images/working/arrow-shape2.png" alt="images_not_found" />
                    <div class="icon">
                        <img src="~/assets/images/working/2.png" alt="images_not_found" />
                    </div>
                    <h4 class="title">Collaboration</h4>
                </div>
                <!-- working-process-list end -->
                <!-- working-process-list start -->
                <div class="col-lg-3 col-sm-6 working-process-list mb-4" data-aos="fade-up" data-aos-delay="600">
                    <img class="arrow-shape" src="~/assets/images/working/arrow-shape1.png" alt="images_not_found" />
                    <div class="icon">
                        <img src="~/assets/images/working/3.png" alt="images_not_found" />
                    </div>
                    <h4 class="title">Integrity</h4>
                </div>
                <!-- working-process-list end -->
                <!-- working-process-list start -->
                <div class="col-lg-3 col-sm-6 working-process-list mb-4" data-aos="fade-up" data-aos-delay="700">
                    <div class="icon">
                        <img src="~/assets/images/working/4.png" alt="images_not_found" />
                    </div>
                    <h4 class="title">Innovation</h4>
                </div>
                <!-- working-process-list end -->
            </div>
        </div>
    </section>
    <!-- working process section end -->

    <!-- testimonial section start -->

    <section class="testimonial-section">
        <div class="container">
            <div class="row">
                <div class="col-12" data-aos="fade-up" data-aos-delay="100">
                    <div class="section-title primary text-center pb-100">
                        <div class="icon">
                            <img src="~/assets/images/icon/testimonial.png" alt="Icon_not_found" />
                        </div>
                        <h3 class="title">Client & Customer Reveiws</h3>
                        <span class="hr-secodary"></span>
                    </div>
                </div>
            </div>
            <div class="row position-relative">
                <div class="clients">
                     @foreach(var review in ViewBag.ClientReviews)
                                {
                                     <img src="@review.ImageUrl" alt="images-not_found" class="client" />
                                }
                  
                </div>
                <div class="col-12 mx-auto">
                    <div class="testimonial-content position-relative">
                        <img class="shape" src="~/assets/images/testimonial/shape.png" alt="images-not_found" />
                        <div class="testimonial-carousel">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <!-- swiper-slide start -->
                                @foreach(var review in ViewBag.ClientReviews)
                                {
                                     <div class="swiper-slide" data-aos="fade-up" data-aos-delay="300">
                                        <div class="profile-wrap">
                                            <img class="testimonial-profile" src="@review.ImageUrl" alt="images-not_found" />
                                            <span class="quote">“</span>
                                        </div>

                                        <p>
                                           @review.Review
                                        </p>
                                        <h5 class="sub-title"> @review.Name</h5>
                                        <span class="designation">@review.Designation</span>
                                    </div>
                                }
                               
                                 
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial section end -->

    <!-- brand section start -->
    <div class="section-pb-150" data-aos="fade-up" data-aos-delay="100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="brand-card brand-carousel">
                        <p class="text-center">
                            <span class="text-gradient">Clients Trusts Us</span>
                            <p class="text-center">Clients that trusts Tech Hut Solutions with our innovative and comprehensive solutions. </p>
                        </p>

                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <!-- single slide start -->
                                <div class="swiper-slide">
                                     <a href="#"><img class="logo-image" src="~/assets/images/brand-logo/kaiser.png" alt="images-not_found" /></a>
                                    
                                  
                                </div>
                               
                                <!-- single slide end -->
                                <!-- single slide start -->
                                <div class="swiper-slide">
                                     <a href="#"><img class="logo-image" src="~/assets/images/brand-logo/usbank.png" alt="images-not_found" /></a>
                                     
                                </div>
                                <!-- single slide end -->
                                  <!-- single slide start -->
                                <div class="swiper-slide">
                                     <a href="#"><img class="logo-image" src="~/assets/images/brand-logo/grainger.png" alt="images-not_found" /></a>
                                    
                                  
                                </div>
                               
                                 <!-- single slide start -->
                                <div class="swiper-slide">
                                     <a href="#"><img class="logo-image" src="~/assets/images/brand-logo/change.png" alt="images-not_found" /></a>
                                    
                                </div>
                                <!-- single slide end -->
                                <!-- single slide end -->
                                   <!-- single slide start -->
                                <div class="swiper-slide">
                                     <a href="#"><img class="logo-image" src="~/assets/images/brand-logo/graco.png" alt="images-not_found" /></a>                               
                                </div>
                                <!-- single slide end -->
                                <!-- single slide end -->
                                   <!-- single slide start -->
                                <div class="swiper-slide">
                                     <a href="#"><img class="logo-image" src="~/assets/images/brand-logo/plymouth.png" alt="images-not_found" /></a>
                                     
                                </div>
                                <!-- single slide end -->
                                <!-- single slide start -->
                              
                                 
                                <!-- single slide end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

